path.transport_services {
    stroke-dasharray: 20;
    animation: dash 12s linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 1000;
    }
  }