path.transport_services_complete {
    stroke-dasharray: 40;
    animation: dash 2s linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 1000;
    }
  }