body{
        font-size: 10;
        font-weight: 100;
        color: "grey";
        display: "flex";
        justify-content: "center";
        align-items: "center";
        background-color: "grey";
        font-family: 'sans-serif';
}

.disaster-status{
    position: center;
}